synapsedtsws/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "synapsedtsws"
		},
		"ls_asql_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_asql_db'"
		},
		"ls_dl_asa_dts_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_dl_asa_dts'"
		},
		"synapsedtsws-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'synapsedtsws-WorkspaceDefaultSqlServer'"
		},
		"ls_dl_asa_dts_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlsynapsedts.dfs.core.windows.net"
		},
		"synapsedtsws-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlsynapsedts.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/pip_copy_all_dl_sql')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy mat_csv_to_sql",
						"description": "",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy pos_xlsx_to_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate table stg.materijal",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SIFRA_MATERIJALA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SIFRA_MATERIJALA",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BROJ_KOMADA_U_KART",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BROJ_KOMADA_U_KART",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_dl_mat_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_mat",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy odel_csv_to_sql",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy mat_csv_to_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.odeljak",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Odeljak",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ODELJAK",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Brend",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BREND",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_dl_odelj_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_odelj",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy pos_xlsx_to_sql",
						"description": "",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy sap_csv_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*20*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.evidencijaPOS",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "datum",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DATUM",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "brend",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BREND_ORIG",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "šifra brenda",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SIFRA_BRENDA",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "vrsta dokumenta",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VRSTA_DOKUMENTA",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "broj stavki",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BROJ_STAVKI",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "broj paleta",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BROJ_PALETA",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Broj kartona povrat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BROJ_KARTONA_POVRAT",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Broj komada povrata",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BROJ_KOMADA_POVRAT",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_dl_pos_xlsx",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_pos",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy sap_csv_sql",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "DMD_20*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.sap",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "WBSTK",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WBSTK",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PRIMALAC_ROBE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PRIMALAC_ROBE",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "TIP_ISPORUKE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TIP_ISPORUKE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "STVARNI_DATUM_ISPORUKE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STVARNI_DATUM_ISPORUKE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MATERIJAL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MATERIJAL",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "KOLICINA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KOLICINA",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SKLADISNA_LOKACIJA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SKLADISNA_LOKACIJA",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "POGON",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "POGON",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ODELJAK",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ODELJAK",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SIFRA_RAZLOGA_POVRATA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SIFRA_RAZLOGA_POVRATA",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OPIS_RAZLOGA_POVRATA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OPIS_RAZLOGA_POVRATA",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_dl_sap_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stg_sap",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DTS"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-12T12:25:59Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/ds_dl_mat_csv')]",
				"[concat(variables('workspaceId'), '/datasets/ds_sql_mat')]",
				"[concat(variables('workspaceId'), '/datasets/ds_dl_odelj_csv')]",
				"[concat(variables('workspaceId'), '/datasets/ds_sql_odelj')]",
				"[concat(variables('workspaceId'), '/datasets/ds_dl_pos_xlsx')]",
				"[concat(variables('workspaceId'), '/datasets/ds_sql_pos')]",
				"[concat(variables('workspaceId'), '/datasets/ds_dl_sap_csv')]",
				"[concat(variables('workspaceId'), '/datasets/ds_sql_stg_sap')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pip_transf_all')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure povrat brend",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "pip_sp_komis",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[prc].[PovratBrend]"
						},
						"linkedServiceName": {
							"referenceName": "ls_asql_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "pip_sp_komis",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stored procedure komis_brend",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[prc].[Komision]"
						},
						"linkedServiceName": {
							"referenceName": "ls_asql_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored procedure komis_brend",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[prc].[KomisionBrend]"
						},
						"linkedServiceName": {
							"referenceName": "ls_asql_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored procedure Povrat",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stored procedure povrat brend",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[prc].[Povrat]"
						},
						"linkedServiceName": {
							"referenceName": "ls_asql_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DTS"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-12T12:06:15Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_asql_db')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_dl_mat_csv')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_asa_dts",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Mat_fix.csv",
						"folderPath": "dmd/Materijal",
						"fileSystem": "row"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIFRA_MATERIJALA",
						"type": "String"
					},
					{
						"name": "BROJ_KOMADA_U_KART",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_dl_asa_dts')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_dl_odelj_csv')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_asa_dts",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Odeljak_fix.csv",
						"folderPath": "dmd/Odeljak",
						"fileSystem": "row"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Odeljak",
						"type": "String"
					},
					{
						"name": "Brend",
						"type": "String"
					},
					{
						"name": "Opis",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_dl_asa_dts')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_dl_odeljak_csv')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_asa_dts",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Odeljak.csv",
						"folderPath": "dmd/SAP",
						"fileSystem": "row"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Odeljak",
						"type": "String"
					},
					{
						"name": "BRAND",
						"type": "String"
					},
					{
						"name": "Opis",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_dl_asa_dts')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_dl_pos_xlsx')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_asa_dts",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "baza urađenih naloga",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "evidencija_urađenih_naloga_POS_2020.xlsx",
						"folderPath": "dmd/POS",
						"fileSystem": "row"
					},
					"range": "A9:K1000000",
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_dl_asa_dts')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_dl_sap_csv')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_asa_dts",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DMD_2020.csv",
						"folderPath": "dmd/SAP",
						"fileSystem": "row"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_dl_asa_dts')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_dl_to_sql_2')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_asa_dts",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DMD_2020.csv",
						"folderPath": "dmd/SAP",
						"fileSystem": "row"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "DOKUMENT_ISPORUKE|STAVKA|OBLAST_PRODAJE|WBSTK|PRIMALAC_ROBE|TIP_ISPORUKE|TIP_PROD_DOK|DATUM_ISPORUKE|DOBAVLJAC|PLANIRANI_DATUM_ISPORUKE|STVARNI_DATUM_ISPORUKE|MATERIJAL|KOLICINA|SKLADISNA_LOKACIJA|POGON|ODELJAK|SIFRA_RAZLOGA_POVRATA|OPIS_RAZLOGA_POVRATA",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_dl_asa_dts')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_sql_mat')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_asql_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SIFRA_MATERIJALA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BROJ_KOMADA_U_KART",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "materijal"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_asql_db')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_sql_odelj')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_asql_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ODELJAK",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BREND",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "odeljak"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_asql_db')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_sql_pos')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_asql_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATUM",
						"type": "date"
					},
					{
						"name": "BREND_ORIG",
						"type": "varchar"
					},
					{
						"name": "SIFRA_BRENDA",
						"type": "varchar"
					},
					{
						"name": "VRSTA_DOKUMENTA",
						"type": "varchar"
					},
					{
						"name": "BROJ_STAVKI",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BROJ_PALETA",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BROJ_KARTONA_POVRAT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BROJ_KOMADA_POVRAT",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "evidencijaPOS"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_asql_db')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_sql_stg_sap')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_asql_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "stg",
					"table": "sap"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_asql_db')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PowerBIWorkspace1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "PowerBIWorkspace",
				"typeProperties": {
					"workspaceID": "76db11ad-63a4-4680-a40f-0b39bcf26217",
					"tenantID": "b2262124-fdf2-4f26-bfec-fc5538b4dbe1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_asql_db')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_asql_db_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_dl_asa_dts')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_dl_asa_dts_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_dl_asa_dts_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/synapsedtsws-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('synapsedtsws-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/synapsedtsws-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('synapsedtsws-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/trg_copy_dl_to_sql')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"description": "Copy all from datalake to SQL stg tables",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pip_copy_all_dl_sql",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-05-10T18:49:00",
						"timeZone": "Central Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/pip_copy_all_dl_sql')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/trg_transf_all')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pip_transf_all",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-06-10T11:22:00",
						"timeZone": "Central Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/pip_transf_all')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SparkSmall')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": true,
					"maxNodeCount": 10,
					"minNodeCount": 3
				},
				"nodeCount": 10,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.1",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": true,
				"annotations": []
			},
			"dependsOn": [],
			"location": "westeurope"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/default')]",
			"type": "Microsoft.Synapse/workspaces/managedVirtualNetworks",
			"apiVersion": "2019-06-01-preview",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/default/synapse-ws-sql--synapsedtsws')]",
			"type": "Microsoft.Synapse/workspaces/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"privateLinkResourceId": "/subscriptions/3d1a0d9a-7e0f-434a-bb08-b3b842299587/resourceGroups/Synapse_Analytics/providers/Microsoft.Synapse/workspaces/synapsedtsws",
				"groupId": "sql",
				"fqdns": [
					"synapsedtsws.7fef4202-f825-4c26-829b-af5c2e2a7226.sql.azuresynapse.net"
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/default/synapse-ws-sqlOnDemand--synapsedtsws')]",
			"type": "Microsoft.Synapse/workspaces/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"privateLinkResourceId": "/subscriptions/3d1a0d9a-7e0f-434a-bb08-b3b842299587/resourceGroups/Synapse_Analytics/providers/Microsoft.Synapse/workspaces/synapsedtsws",
				"groupId": "sqlOnDemand",
				"fqdns": [
					"synapsedtsws-ondemand.7fef4202-f825-4c26-829b-af5c2e2a7226.sql.azuresynapse.net"
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/managedVirtualNetworks/default')]"
			]
		}
	]
}